---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import BioImage from "../assets/images/julian-1.png";
import Card from "../components/Card.astro";
import LittleCard from "../components/LittleCard.astro";
import Insta from "../components/Insta.astro";
import Button from "../components/Button.astro";
import { AstroSeo } from "@astrolib/seo";
import JulesFace from "../components/JulesFace.jsx";
import RocketLaunch from "astro-heroicons/solid/RocketLaunch.astro";
import Icons from "../components/Icons.astro";
import Footer from "../components/Footer.astro";
// Supports weights 100-900
import "@fontsource-variable/playfair-display";
import { Fade } from "react-awesome-reveal";
---

<AstroSeo
  title="Julian's Links"
  description="A collection of links for Julian"
/>

<Layout>
  <div class="flex-grow">
    <Fade client:load>
      <h1
        class="font-playfair-display text-6xl lg:text-7xl font-variable font-bold my-8 text-slate-700 pt-12 lg:pt-18 lg:mb-18 text-center"
      >
        Julian
      </h1>
    </Fade>

    <JulesFace client:load />

    <div class="mx-auto w-72">
      <Icons />
    </div>
  </div>
</Layout>

<Footer />
