---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import BioImage from "../assets/images/julian-1.png";
import Card from "../components/Card.astro";
import LittleCard from "../components/LittleCard.astro";
import Insta from "../components/Insta.astro";
import Button from "../components/Button.astro";
import "@fontsource/dela-gothic-one";
import { AstroSeo } from "@astrolib/seo";
import JulesFace from "../components/JulesFace.jsx";
import RocketLaunch from "astro-heroicons/solid/RocketLaunch.astro";
import Icons from "../components/Icons.astro";
import Footer from "../components/Footer.astro";
// Supports weights 100-900
import "@fontsource-variable/red-rose";
---

<AstroSeo
  title="Julian O’Leary Links"
  description="A collection of links for Julian O'Leary also known as Julian T O'Leary"
/>

<Layout>
  <div class="flex-grow">
    <h1
      class="font-red-rose text-7xl font-variable font-bold my-8 text-red-600 pt-12 text-center"
    >
      Julian
    </h1>
    Julian O’Leary
  </div>

  <JulesFace client:load />

  <div class="mx-auto w-72">
    <Icons />
  </div>
</Layout>

<Footer />
