<div class="text-center mx-auto h-24 items-center mb-16 text-sm text-slate-500">
  <p>
    &copy; {new Date().getFullYear()} Julian
    <p>
      Links page created with ❤️ by <a
        href="https://mattoleary.design"
        class="text-slate-500 hover:text-red-600">Matt</a
      >
    </p>
  </p>
</div>
