<div class="text-center mx-auto h-24 items-center mb-16 text-sm text-gray-500">
  <p>
    &copy; {new Date().getFullYear()} Julian T O'Leary
    <p>
      Links page created with ❤️ by <a
        href="https://mattoleary.design"
        class="text-red-600 hover:text-white">Matt</a
      >
    </p>
  </p>
</div>
