---
import "@fortawesome/fontawesome-free/css/all.css";
---

<div
  class="mx-auto w-64 h-12 flex-row justify-normal text-slate-800 text-center mt-12"
>
  <a
    href="https://www.instagram.com/julian______julian?igsh=bGF2YmV3ZngyMGlt&utm_source=qr"
  >
    <i class="fa-brands fa-instagram fa-xl w-12 hover:text-red-500"></i></a
  >
  <a href="https://www.tiktok.com/@julian_julian?_t=8jDa3BaeIpU&_r=1">
    <i class="fa-brands fa-tiktok fa-xl w-12 hover:text-red-500"></i></a
  >
  <a
    href="mailto:julianjulian1379@gmail.com"
    title="julianjulian1379@gmail.com"
  >
    <i class="fa-regular fa-envelope fa-xl w-12 hover:text-red-500"></i></a
  >
</div>
