---
import "@fortawesome/fontawesome-free/css/all.css";
---

<div
  class="mx-auto w-64 h-12 flex-row justify-normal text-white text-center mt-12"
>
  <a
    href="https://www.instagram.com/julian______julian?igsh=bGF2YmV3ZngyMGlt&utm_source=qr"
  >
    <i class="fa-brands fa-instagram fa-2xl w-16 hover:text-red-700"></i></a
  >
  <a href="https://www.tiktok.com/@julian_julian?_t=8jDa3BaeIpU&_r=1">
    <i class="fa-brands fa-tiktok fa-2xl w-16 hover:text-red-700"></i></a
  >
  <a href="mailto:Juliantoleary@gmail.com" title="Juliantoleary@gmail.com">
    <i class="fa-regular fa-envelope fa-2xl w-16 hover:text-red-700"></i></a
  >
</div>
