---
interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;
---

<div
  class="mx-auto rounded-3xl w-72 bg-fuchsia-500 p-2 my-7 flex hover:bg-red-900"
>
  <a href={href}>
    <div class="w-8">
      <img src="/Instagram_Glyph_White.svg" />
    </div>
    <div>
      <h1 class="font-bold text-xl text-amber-400">
        {title}
      </h1>
    </div>
  </a>
</div>
